@import "style.css";

/*******************************************************************************
 Top centered image and text
 ******************************************************************************/

.hi {
  font-size: 6vw;
  color: white;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.rectangle-about{
  width: 100%;
  height: auto;
  padding: 100px 10vw;
  overflow-wrap: break-word;
  box-sizing: border-box;
}

.about{
  font-size: 30px;
  text-align: left;
  line-height: 1.3em;
  font-weight: 500;
}

.rectangle-education{
  width: 100%;
  height: auto;
  padding: 100px 10vw;
  overflow-wrap: break-word;
  box-sizing: border-box;
}

.education-date{
  grid-area: date;
  font-size: 18px;
  color:white;
  text-align: right;
  vertical-align: bottom;
  margin-top: 7px;
}

.education-school{
  grid-area: school;
  font-size: 28px;
  color: white;
  text-align: right;
}

.education-major{
  grid-area: major;
  font-size: 24px;
  color: white;
  text-align: left;
  float: left;
  vertical-align: bottom;
}

.education-heading{
  grid-area: title;
  color:white;
  font-size: 36px;
  text-align: center;
  line-height: 1.5em;
  font-weight: bold;
  margin-bottom: 30px;
}

.education-description{
  grid-area: description;
  font-size: 18px;
  color: white;
  text-align: left;
  margin-top: 7px;
}

.grid-education{
  width: 100%;
  height: auto;
  overflow-wrap: break-word;
  display: inline-grid;
  grid-template-areas:
    'date major'
    'school description';
  row-gap: 10px;
  background-color: black;
  grid-template-columns: 30% 70%;
  column-gap: 20px;
}

