@import "style.css";

.container-top {
  width: 80%;
  background-color: #040404;
  padding-left: 13%;
  padding-right: 7%;
  overflow: hidden;
  display: block;
  height: auto;
}

.left {
  width: 25%;
  height: auto;
  background-color: #040404;
  overflow-wrap: break-word;
  margin-top: 30px;
  margin-bottom: 20px;
  float: left;
  display: inline-block;
}

.left-top {
  width: 100%;
  background-color: #c92c7b;
}

.left-bottom {
  width: 100%;
  background-color: #00acec;
  text-align: center;
}

.face {
  width: 60%;
  height: auto;
  margin: 10% 20%;
  box-shadow: 0px 0px 20px 1px #202020;
  margin-top: 15%;
}

.left-top > p {
  width: 80%;
  margin: 10%;
  margin-top: -5px;
  margin-bottom: 0px;
  color: white;
  line-height: 1.5em;
  text-align: left;
  font-size: 15px;
  display: inline-block;
}

.button {
  background-color: black;
  text-align: center;
  padding: 2%;
  margin: 5% 20%;
  margin-bottom: 7%;
  width: 56%;
  color: white;
  transition: all 0.5s;
  display: inline-block;
  font-size: 18px;
}

.button:hover {
  background-color: #202020;
}

.left-top > p::selection {
    color: #FFA6C9;
    background: #0080FF;
}

.left-top > p::-webkit-selection {
    color: #FFA6C9;
    background: #0080FF;
}
.left-top > p::-moz-selection {
    color: #FFA6C9;
    background: #0080FF;
}

.left-bottom > p {
  width: 80;
  margin: 10%;
  margin-top: 0px;
  color: white;
  line-height: 1.5em;
  text-align: left;
  font-size: 15px;
  display: inline-block;
  margin-bottoM: 15%;
}

.left-bottom > p::selection {
    color: #FFA6C9;
    background: #0080FF;
}

.left-bottom > p::-webkit-selection {
    color: #FFA6C9;
    background: #0080FF;
}
.left-bottom > p::-moz-selection {
    color: #FFA6C9;
    background: #0080FF;
}

.right {
  width: 66%;
  height: auto;
  background-color: #040404;
  margin-top: 35px;
  margin-bottom: 20px;
  padding-left: 4%;
  float: left;
  display: inline-block;
}

.right > p {
  display: block;
  font-size: 22px;
  color: #F0F0F0;
  text-align: left;
  width: 100%;
  margin-bottom: 25px;
  line-height: 125%;
  margin-top: 0px;
}

.right > p::selection {
    color: #FFA6C9;
    background: #0080FF;
}

.right > p::-webkit-selection {
    color: #FFA6C9;
    background: #0080FF;
}
.right > p::-moz-selection {
    color: #FFA6C9;
    background: #0080FF;
}

.value {
  overflow: hidden;
  display: block;
  height: auto;
  background-color: #040404;
  margin-top: 10px;
  margin-bottom: 10px;
}

.value > .l {
  width: 18%;
  font-size: 20px;
  text-align: right;
  color: white;
  margin-right: 2%;
  float: left;
  display: inline-block;
}

.value > .l::selection {
    color: #FFA6C9;
    background: #0080FF;
}

.value > .l::-webkit-selection {
    color: #FFA6C9;
    background: #0080FF;
}
.value > .l::-moz-selection {
    color: #FFA6C9;
    background: #0080FF;
}

.value > .r {
  margin-top: 2px;
  width: 75%;
  font-size: 18px;
  text-align: left;
  color: #F0F0F0;
  float: left;
  display: inline-block;
  margin-right: 5%;
}

.value > .r::selection {
    color: #FFA6C9;
    background: #0080FF;
}

.value > .r::-webkit-selection {
    color: #FFA6C9;
    background: #0080FF;
}
.value > .r::-moz-selection {
    color: #FFA6C9;
    background: #0080FF;
}

.about-heading {
  color:white;
  font-size: 36px;
  text-align: center;
  line-height: 1.5em;
  margin-bottom: 0px;
  width: 100%;
  margin-top: 50px;
}

.container-bottom {
  width: 80%;
  background-color: #040404;
  padding-left: 10%;
  padding-right: 10%;
  display: block;
  height: auto;
}

.about-journey {
  color: white;
  font-size: 32px;
  text-align: center;
  line-height: 1.5em;
  padding-top: 50px;
  padding-bottom: 30px;
  width: 100%;
  display: block;
}

.container-bottom > p {
  display: inline-block;
  font-size: 22px;
  color: #F0F0F0;
  text-align: left;
  width: 100%;
  padding-bottom: 70px;
  line-height: 125%;
  margin-top: 0px;
}

.container-bottom > p::selection {
    color: #FFA6C9;
    background: #0080FF;
}

.container-bottom > p::-webkit-selection {
    color: #FFA6C9;
    background: #0080FF;
}
.container-bottom > p::-moz-selection {
    color: #FFA6C9;
    background: #0080FF;
}
