@import "style.css";

p {
  display: block;
}

.education-title {
  font-size: 42px;
  color: white;
  text-align: center;
  width: 100%;
  font-weight: bold;
}

.tabs {
    margin-left: 15%;
    overflow: hidden;
    background-color: #101010;
}
.tab {
    text-align: center;
    line-height: 40px;
    float: left;
    transition: all 0.25s;
    cursor: pointer;
    height: 40px;
}

.two-tabs {
  width: 22%;
}
.two-tab {
  width: 50%;
}

.three-tabs {
  width: 33%;
}
.three-tab {
  width: 33.33%;
}

.tab:hover {
  transition: all 0.5s;
  background-color: #1C1C1C;
}

.tab-text {
  color: white;
  font-size: 14px;
  width: 100%;
  margin: 0px;
  text-align: center;
}

.tab-content {
  width: 80%;
  margin-left: 10%;
  overflow: hidden;
  background-color: #101010;
  padding-bottom: 30px;
}

.tab-content > #sem {
  width: 50%;
  float: left;
}

.tab-content > #sem > p {
  margin-bottom: 30px;
}

.sem-title > .sem-title-text {
  float: none;
  text-align: left;
  margin-left: 10%;
  width: 60%;
  color: white;
  font-size: 15px;
}

#underline {
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 0.7px;
  background-color: grey;
}

.course {
  overflow: auto;
  padding-top: 5px;
  transition: all 0.2s;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  display:block;
}

.course:hover {
  transition: all 0.5s;
  background-color: #050505;
}

.course > .name {
  color: white;
  font-size: 15px;
  text-align: left;
  width: 63%;
  margin-left: 10%;
  margin-bottom: 0;
  float: left;
  margin-top: 0px;
}

.course > .name::selection {
    color: #FFA6C9;
    background: #0080FF;
}

.course > .name::-webkit-selection {
    color: #FFA6C9;
    background: #0080FF;
}
.course > .name::-moz-selection {
    color: #FFA6C9;
    background: #0080FF;
}

.course > .subject {
  color: grey;
  text-align: right;
  float: left;
  font-size: 15px;
  width: 17%;
  margin-left: 0%;
  margin-right: 10%;
  margin-bottom: 0;
  margin-top: 0px;
}

.course > .description {
  position: relative;
  float: left;
  font-size: 12px;
  color: #BBBBBB;
  margin-top: 8px;
  margin-bottom: 10px;
  margin-left: 10%;
  width: auto;
  text-align: left;
}

.course > .description::selection {
    color: #FFA6C9;
    background: #0080FF;
}

.course > .description::-webkit-selection {
    color: #FFA6C9;
    background: #0080FF;
}
.course > .description::-moz-selection {
    color: #FFA6C9;
    background: #0080FF;
}

.school {
  height: 100px;
  left: 50%;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 15%;
  display: block;
}

.school > a > .icon {
  height: 100%;
  float: left;
  border-style: outset;
  border-width: 5px;
  border-color: gray;
  display: block;
}

.school > .name {
  text-align: left;
  font-size: 32px;
  width: 75%;
  float: left;
  margin-left: 3%;
  color: white;
  display: block;
  margin-top: 5px;
}

.school > .name::selection {
    color: #FFA6C9;
    background: #0080FF;
}

.school > .name::-webkit-selection {
    color: #FFA6C9;
    background: #0080FF;
}
.school > .name::-moz-selection {
    color: #FFA6C9;
    background: #0080FF;
}

.school > .date {
  text-align: left;
  font-size: 22px;
  width: 75%;
  float: left;
  margin-left: 3%;
  color: #DDDDDD;
  display: block;
  margin-top: 0px;
}

.school > .date::selection {
    color: #FFA6C9;
    background: #0080FF;
}

.school > .date::-webkit-selection {
    color: #FFA6C9;
    background: #0080FF;
}
.school > .date::-moz-selection {
    color: #FFA6C9;
    background: #0080FF;
}

.school > .gpa {
  text-align: left;
  font-size: 18px;
  width: 75%;
  float: left;
  margin-left: 3%;
  color: #D0D0D0;
  display: block;
  margin-top: 5px;
}

.school > .gpa::selection {
    color: #FFA6C9;
    background: #0080FF;
}

.school > .gpa::-webkit-selection {
    color: #FFA6C9;
    background: #0080FF;
}
.school > .gpa::-moz-selection {
    color: #FFA6C9;
    background: #0080FF;
}

.major {
  height: 60px;
  left: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20%;
  display:block;
  width: 100%;
}

.major > a > .icon {
  height: 100%;
  float: left;
  border-style: outset;
  border-width: 3px;
  border-color: gray;
  display: block;
}

.major > .name {
  text-align: left;
  font-size: 26px;
  width: 50%;
  float: left;
  margin-left: 2%;
  color: white;
  display: block;
  margin-top: 0px;
  height: 100%;
  line-height: 60px;
}

.major > .name::selection {
    color: #FFA6C9;
    background: #0080FF;
}

.major > .name::-webkit-selection {
    color: #FFA6C9;
    background: #0080FF;
}
.major > .name::-moz-selection {
    color: #FFA6C9;
    background: #0080FF;
}
