@import "style.css";

.exp-title {
  font-size: 42px;
  color: white;
  text-align: center;
  width: 70%;
  font-weight: bold;
  margin-bottom: 50px;
  margin-top: 50px;
}

.exp {
  height: 100px;
  left: 50%;
  padding-top: 20px;
  padding-bottom: 15px;
  display: block;
  width: 70%;
  background-color: #151515;
  margin-top: 30px;
  transition: all 0.25s;
  cursor: pointer;
}

.exp:hover {
  background-color: #101010;
}

.exp > a > .icon {
  height: 85%;
  float: left;
  border-style: outset;
  border-width: 3px;
  border-color: gray;
  display: block;
  margin-left: 2.5%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.exp > .name {
  text-align: left;
  font-size: 27px;
  width: 82%;
  float: left;
  margin-left: 2.5%;
  color: white;
  display: block;
  margin-top: 5px;
}

.exp > .name::selection {
    color: #FFA6C9;
    background: #0080FF;
}

.exp > .name::-webkit-selection {
    color: #FFA6C9;
    background: #0080FF;
}
.exp > .name::-moz-selection {
    color: #FFA6C9;
    background: #0080FF;
}

.exp >  .date {
  text-align: left;
  font-size: 20px;
  float: left;
  width: 80%;
  margin-left: 2.5%;
  color: #DDDDDD;
  display: block;
  margin-top: 5px;
}

.exp >  .date::selection {
    color: #FFA6C9;
    background: #0080FF;
}

.exp >  .date::-webkit-selection {
    color: #FFA6C9;
    background: #0080FF;
}
.exp >  .date::-moz-selection {
    color: #FFA6C9;
    background: #0080FF;
}

.exp > .summary {
  text-align: left;
  margin-top: 5px;
  font-size: 14px;
  width: 80%;
  float: left;
  color: #D0D0D0;
  display: block;
  margin-left: 2.5%;
  width: 80%;
}

.exp > .summary::selection {
    color: #FFA6C9;
    background: #0080FF;
}

.exp > .summary::-webkit-selection {
    color: #FFA6C9;
    background: #0080FF;
}
.exp > .summary::-moz-selection {
    color: #FFA6C9;
    background: #0080FF;
}

.exp-content {
  width: 67%;
  display: none;
  background-color: #0D0D0D;
  padding-top: 40px;
  padding-bottom: 40px;
  left: 50%;
  list-style-type: disc;
  text-align: left;
  padding-left: 2%;
  padding-right: 1%;
  color: white;
  margin-bottom: 30px;
}

.exp-content > li {
  display: list-item;
  font-size: 16px;
  color: #F2F2F2;
  line-height: 130%;
}

.exp-content > li::selection {
    color: #FFA6C9;
    background: #0080FF;
}

.exp-content > li::-webkit-selection {
    color: #FFA6C9;
    background: #0080FF;
}
.exp-content > li::-moz-selection {
    color: #FFA6C9;
    background: #0080FF;
}
