@import "style.css";

/*******************************************************************************
 Top centered image and text
 ******************************************************************************/

 .container-img {
   position: relative;
   text-align: center;
   background-color: black;
   color: white;
   width: 100%;
   z-index: -1000;
 }

.hi {
  font-size: 6vw;
  color: white;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

/*******************************************************************************
 About Me
 ******************************************************************************/

.container-about{
  z-index: -1000;
}

.rectangle-about{
  width: 100%;
  height: auto;
  padding: 100px 10vw;
  overflow-wrap: break-word;
  box-sizing: border-box;
}

.about{
  font-size: 30px;
  text-align: left;
  line-height: 1.3em;
  font-weight: 500;
}

/*******************************************************************************
 Education
 ******************************************************************************/

.rectangle-education{
  width: 100%;
  height: auto;
  padding: 100px 10vw;
  overflow-wrap: break-word;
  box-sizing: border-box;
  background-color: #040404;
}

.education-date{
  grid-area: date;
  font-size: 18px;
  color: #D0D0D0;
  text-align: right;
  margin-top: 6px;
}

.education-school{
  grid-area: school;
  font-size: 28px;
  color: white;
  text-align: right;
}

.education-major{
  grid-area: major;
  font-size: 28px;
  color: white;
  text-align: left;
  float: left;
  vertical-align: bottom;
}

.education-heading{
  color:white;
  font-size: 36px;
  text-align: center;
  line-height: 1.5em;
  font-weight: bold;
  margin-bottom: 30px;
}

.education-description{
  grid-area: description;
  font-size: 18px;
  color: #F0F0F0;
  text-align: left;
  margin-top: 3px;
  line-height: 150%;
}

.grid-education{
  width: 100%;
  height: auto;
  overflow-wrap: break-word;
  display: inline-grid;
  grid-template-areas:
    'date major'
    'school description';
  row-gap: 5px;
  grid-template-columns: 30% 70%;
  column-gap: 30px;
  margin: 10px 0px;
}

.extra-space{
  height: 10px;
}

/*******************************************************************************
 Experience
 ******************************************************************************/
 .rectangle-work{
   width: 100%;
   height: auto;
   padding: 100px 20vw;
   overflow-wrap: break-word;
   box-sizing: border-box;
   background-color: #000000;
 }

 .work-heading{
   color:white;
   font-size: 36px;
   text-align: center;
   line-height: 1.5em;
   font-weight: bold;
   margin-bottom: 30px;
 }

.work-entry{
  margin: 30px 0px;
  width: 100%;
  height: auto;
  overflow-wrap: break-word;
}

.work-title {
  margin: 5px 0px;
  color: white;
  font-size: 26px;
  text-align: left;
}

.work-date{
  color: #D0D0D0;
  font-size: 18px;
  text-align: left;
  line-height: 1.2em;
}

.work-description{
  margin: 7px 0px;
  font-size: 16px;
  text-align: left;
    list-style-type: disc;
  padding-left: 10px;
  color: #F0F0F0;
}

.work-description > li {
  display: list-item;
  line-height: 140%;
}
