@import "style.css";

.page-title {
  font-size: 36px;
  color: white;
  text-align: center;
  width: 70%;
  margin-bottom: 10px;
  margin-top: 50px;
}

.skills {
  font-size: 22px;
  color: #B5B5B5;
  width: 70%;
  margin-bottom: 10px;
}

.date {
  font-size: 18px;
  color: #959595;
  width: 70%;
  margin-bottom: 50px;
}

.pic {
  width: 70%;
  display: block;
  margin-top: 50px;
}

.vid {
  width: 70%;
  display: block;
  margin-top: 50px;
  height: auto;
}

.subtitle {
  font-size: 18px;
  text-align: center;
  color: #B5B5B5;
  margin-top: 5px;
  margin-bottom: 50px;
  width: 70%;
}

p {
  display: block;
  font-size: 20px;
  color: #F0F0F0;
  text-align: left;
  width: 70%;
  margin-bottom: 30px;
  line-height: 125%;
  list-style-type: disc;
}

ul {
  margin-top: -20px;
  width: 70%;
  text-align: left;

}

ul > li {
  display: list-item;
  font-size: 18px;
  color: #F0F0F0;
  line-height: 115%;
}
