@import "style.css";

.proj-title {
  font-size: 42px;
  color: white;
  text-align: center;
  width: 70%;
  font-weight: bold;
  margin-bottom: 50px;
  margin-top: 50px;
  display: block;
}

.proj-container {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  overflow: auto;
  display: block;
}

.proj {
  float: left;
  width: 38%;
  margin-left: 6%;
  margin-right: 6%;
  height: 25vw;
  padding-top: 30px;
  padding-bottom: 20px;
  display: inline-block;
  transition: all 0.5s;
  cursor: pointer;
}

.pic {
  width: 25%;
  height: 20vw;
  transition: 0.5;
}
