@import "style.css";

.skills-title {
  font-size: 42px;
  color: white;
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
  margin-top: 50px;
  display: block;
}

.skills-subtitle {
  font-size: 32px;
  color: white;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 50px;
  display: block;
}

.skill-container {
  width: 70%;
  display: block;
  margin-left: 20%;
  margin-right: 10%;
  position: relative;
  overflow: hidden;
}

.left {
  width: 47%;
  float: left;
  display: block;
}

.right {
  width: 47%;
  float: left;
  display: block;
  margin-left: 6%;
}

.skill {
  height: 75px;
  padding-top: 20px;
  padding-bottom: 15px;
  display: block;
  width: 100%;
  background-color: #040404;
  margin-top: 10px;
  transition: all 0.5s;
}

.skill > .icon {
  height: 90%;
  float: left;
  border-style: outset;
  border-width: 2px;
  border-color: gray;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  filter: grayscale(1);
  background-color: black;
}

.skill > .name {
  text-align: left;
  font-size: 28px;
  width: 75%;
  float: left;
  margin-left: 4%;
  color: white;
  display: block;
  margin-top: 10px;
}

.skill > .name::selection {
    color: #FFA6C9;
    background: #0080FF;
}

.skill > .name::-webkit-selection {
    color: #FFA6C9;
    background: #0080FF;
}
.skill > .name::-moz-selection {
    color: #FFA6C9;
    background: #0080FF;
}

.skill > .description {
  text-align: left;
  margin-top: 5px;
  font-size: 14px;
  float: left;
  color: #D0D0D0;
  display: block;
  margin-left: 4%;
  width: 75%;
}

.skill > .description::selection {
    color: #FFA6C9;
    background: #0080FF;
}

.skill > .description::-webkit-selection {
    color: #FFA6C9;
    background: #0080FF;
}
.skill > .description::-moz-selection {
    color: #FFA6C9;
    background: #0080FF;
}
